* {
	box-sizing: border-box;
}

html {
	font-size: 90%;
}

body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}
figure {
	margin: 0;
}
/* ================== Header ================= */
header {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: blueviolet;
	height: 60px;
	font-size: 0.95em;
}
/* =============Main=========== */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}
article {
	width: 20%;
	box-shadow: 10px 5px 5px red;
	border-radius:10px;
	margin:10px;
}
article figure,
article figure img {
	margin: 0;
	overflow: hidden;
	height: 200px;
	text-align: center;
	
}
figure {
	background: rgb(160, 160, 233);
	border-radius: 10px 10px 0 0 ;
}
article h3 {
	background-color: black;
	color: white;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
article p {
	text-align: center;
	
}
article p span {
	text-transform: uppercase;
}